# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

After completing this notebook, you will be able to:
* List popular languages for Data Science.
* List popular libraries for Data Science.
* List Data Science tools.
* Evaluate arithmetic expressions.

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL
4. Julia
5. Scala

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. Numby
3. Matplotlib
4. Scikit-learn
5. TensorFlow

**Data Sience Tools**
| Data Science Tools |
| ------- |
| Jupytr Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
expression = (3*4)+5
print(expression)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 60)

3.3333333333333335

## Author
Mustafa Ã–Z